<h1> Show </h1>

<p>
    name: <%= @todo.name%>
</p>

<p>
    description: <%= @todo.description%>
</p>

<td><%= link_to "Edit", edit_todo_path(@todo) %></td>
<td><%= link_to "Back", todos_path %></td>